body {
	position: relative;
	width: 2000px;
	height: 2000px;
}
.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}

.arrow{
	stroke-width:1	;
	stroke:#000;
}

#arrow{
	stroke-width:1;
	stroke-dasharray:0;	
}

 /*COLA TEST */
.cola.node {
	stroke: #fff;
	stroke-width: 1.5px;
	cursor: move;
}
.cola.node.option{
	fill: rgb(188,188,188) !important;
}

.cola.group {
	stroke: #fff;
	stroke-width: 1.5px;
	cursor: move;
	opacity: 0.7;
}

.cola.link {
	stroke: #7a4e4e;
	stroke-width: 3px;
	stroke-opacity: 1;
}

.cola.label {
	fill: white;
	font-family: Verdana;
	font-size: 14px;
	text-anchor: middle;
	cursor: move;
}

.btn-add-class {
	fill: rgb(32, 101, 243) !important; /* don't style this way*/
}

/*for jquery autocomplete*/
ul
{
    list-style-type: none;
}
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;
}
/* ========== */